{% extends "base.html" %}


{% block constituency_selector %}
{% endblock %}


{% block box1 %}
<div class="well col-9">
    <h1>Add Election:</h1>
    <form action="/elections/add/" method="post">{% csrf_token %}
        {{form.as_p}}
        <div class="btn-toolbar pull-right">
            <input type="button" class="btn btn-danger" name="cancel" value="Back" onClick="history.go(-1);return true;">
            <input type="submit" class="btn btn-primary" name="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}


{% block box2 %}
{% endblock %}