{% extends "base.html" %}


{% block constituency_selector %}
{% endblock %}


{% block box1 %}
<h1>Elections</h1>
    {% for election in election_list %}
    <div>
        <h2><a href="/elections/get/{{ election.id }}/">{{ election.name }}</a></h2>
        <p><strong>Election ID:</strong> {{ election.id }}</p>
        <p><strong>Constituency:</strong> {{ election.constituency }}</p>
        <p><strong>Description:</strong> {{ election.description }}</p>
        <p><strong>Candidates:</strong>
        {% for candidate in election.candidate_set.all %}
            <p>{{ candidate.user }} - <em>Running for: </em>{{ candidate.office }}</p>
        {% endfor %}
    </div>
    {% endfor %}

{% endblock %}


{% block box2 %}
{% endblock %}