<style>

.dropdown-menu {
  min-width: 100px;
}


a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
    background-color:#eeeeee !important;
    color:#aaa !important;
}

.caret-white
{
border-top-color: white !important;
border-bottom-color: white !important;
}

.caret-black
{
border-top-color: black !important;
border-bottom-color: black !important;
}

.btn-more-top-margin {
margin: 12px 0px 0px 0px;
}

.header, #header {
	background: #FFF;

	
}

.sub_header {
	clear:both;
	float: left;
}

.a_sub_header {
	padding:0px 30px 0px 0px;
}


.footer {
	clear:both;
}

#evLogo {
	width: 200px;
	display:inline-block;
}

#box1 {
	clear:both;
	outline:#F60 striped thick;

	
}

#box2 {
	clear:both;
}

.ui-helper-hidden-accessible {
	display:none;
}

#id_honeypot {
    display: none;
}

#constituency_selector {
	clear:both;
}
</style>