<style>

<hr> {
    clear:both;
}

.dropdown-menu {
    min-width: 100px;
}

a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
    background-color:#eeeeee !important;
    color:#aaa !important;
}

.infobox {
    border: 1px dotted #555;
    border-radius: 5px;
}

.infobox-inside {
    padding:10px 15px;
}

.infobox-point {
    position:absolute;
    left: 22px;
}

.infobox-name {
    float:left;
    font-size:2.1em; 
    padding:0; 
    margin:0;
    clear:left;
    margin:0 0 10px 0;
}

.infobox-share-button {
    float:right;
    margin: 2px 10px 10px 0;
}

.infobox-university-button {
    float:right;
    margin: 2px 0 10px 0;
}

.infobox-button {
    float:right;
    clear:right;
    margin:0 0 10px 0;
}

.infobox-bottom-button {

}

.infobox-disclaimer {
    clear:both;
}

.infobox-selector {
    clear:both;
}

.infobox-picture img {
    width:200px;
    height:200px;
    float:left;
    margin: 10px 20px 20px 0px;
    clear:left;
}

.infobox-about {
    clear:both;
    padding: 10px 0 0 0;
}

.infobox-voting-days {
    clear:both;
}

.infobox-moderators {
    clear:both;
    padding: 10px 0 0 0;
}

.infobox-list {
    clear:both;
    padding: 0 10px;
    margin: 0 5px;
    border-right:1px dotted #ccc;
    border-left:1px dotted #ccc;
    
}

.infobox-list-showing {
    margin: 5px 20px 10px 0;
    float:left;
}

.infobox-list-sort-by {
    margin: 5px 20px 10px 0;
    float:left;
}

.infobox-list-inside {
}

.infobox-list-profile {
    padding: 5px 0 0 0;
}

.infobox-list-picture img {
    float:left;
    margin:0px 20px 20px 0px;
    width:150px;
    height:150px;
}

.infobox-list-info {
    clear:right;
}

.infobox-list-info h2 {
    padding:5px 0 10px 0;
    margin:0;
}

.ui-helper-hidden-accessible {
    display:none;
}

#id_honeypot {
    display: none;
}

textarea#id_comment {
    width:275px;
    height:80px;
    border-radius:3px;
}
textarea#id_comment:focus {
    border-color: #004422;
    box-shadow: 0 0 10px #004422;
}


.caret-white {
    border-top-color: white !important;
    border-bottom-color: white !important; /*these carets aren't needed*/
}

.caret-black {
    border-top-color: black !important; /*but they make me think of this */
    border-bottom-color: black !important; /*http://www.youtube.com/watch?v=F2AitTPI5U0*/
}

.footer {
    clear:both;
}

</style>