{% extends "base.html" %}

{% block box1 %}
    <a href="/"><img style="margin:0 0 20px 0; padding:0;" class="img-responsive" src="/static/images/everyvote_rectangle_logo.png" alt="EveryVote logo" /></a>
    <div class="infobox-login col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <h3>Login</h3>
      <hr style="clear:both; padding:0; margin:12px 0">
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}    
      <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      <div style="display:inline-block;";>
        <div style="display:inline-block; padding:0 6px 0 0;">
          <h4>Username:</h4>
        </div>
        <div style="display:inline-block;">
          <h4>{{ form.username }}</h4>
        </div>
      </div>
      <br />
      <div style="display:inline-block;">
        <div style="display:inline-block; padding:0 9px 0 0;">
          <h4>Password:</h4>
        </div>
        <div style="display:inline-block;">
          <h4>{{ form.password }}</h4>
        </div>
      </div> 
      <hr style="clear:both; padding:0; margin:12px 0;">
        <button type="submit" class="btn btn-primary infobox-button-right">Submit</button>
        <input type="button" onclick="location.href='/'" class="btn btn-danger infobox-button-right" value="Cancel" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <br />
    <br />
  </div>
  <div class="infobox-about col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <div style="margin:0 0 0 18px; padding:5px 0 20px 0;">
      <a href="/accounts/resetpassword/">Forgot password?</a><br />
    </div>
  </div>

{% endblock %}