{% extends "base.html" %}

{% block title %}Password change{% endblock %}

{% block box1 %}<div id="content-main">

<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      Password change
    </div>
    <hr style="clear:both;">
    <form action="" method="post">{% csrf_token %}
      {% if form.errors %}
        <p class="errornote">Please correct the error below.</p>
      {% endif %}
      <div class="infobox-form-input">
        {{ form.old_password.errors }}
        <label style="margin:0 30px 0 0;" for="id_old_password" class="required">Old password:</label>{{ form.old_password }}
      </div>
      <div class="infobox-form-input">
        {{ form.new_password1.errors }}
        <label style="margin:0 24px 0 0" for="id_new_password1" class="required">New password:</label>{{ form.new_password1 }}
      </div>
      <div class="infobox-form-input">
        {{ form.new_password2.errors }}
        <label style="margin:0 6px 0 0" for="id_new_password2" class="required">Password (again):</label>{{ form.new_password2 }}
      </div>
      <hr style="clear:both;">
      <input type="submit" class="btn btn-primary infobox-button-right" value="Change Password">      
      <a href="/" class="btn btn-small btn-danger infobox-button-right">Cancel</a>
    </form>
  </div>
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>

{% endblock %}