{% extends "base.html" %}
{% load comments %}

{% block title %}{{ election.constituency.name }} - {{ election.name }}{% endblock %}

{% block extrahead %}
<meta property="og:description" content={% if election.about %}"{{ election.about }}"{% else %}"Learn about and contact {{ election.constituency.parent_constituency }} candidates with EveryVote."{% endif %} />
<meta property="og:image" 
{% if election.constituency.profile_picture %}
content="http://www.everyvote.org/static/uploaded_files/{{election.constituency.profile_picture}}" 
{% else %}
content="http://www.everyvote.org/static/uploaded_files/{{election.constituency.parent_constituency.profile_picture}}" 
{% endif %}
/>
<meta property="og:url" content="http://www.everyvote.org/elections/{{ election.id }}" />
{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      <a href="/universities/{{ election.constituency.parent_constituency.id }}">{{ election.constituency.parent_constituency.name }}</a><br />
    </div>
    <div class="btn-group infobox-button-right">
      {% if user in election.constituency.parent_constituency.administrators.all %}
        <button class="btn btn-primary" data-toggle="modal" href="#shareelectionModal"><i class="icon-share"></i>&nbsp Share</button>
        <button onclick="location.href='/organizations/add/'" class="btn btn-primary"><i class="icon-group"></i>&nbsp Add Organization</button>
        <button onclick="location.href='/universities/update/{{ election.constituency.parent_constituency.id }}'" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp Edit </button>
      {% else %}
        <button class="btn btn-primary" data-toggle="modal" href="#shareelectionModal"><i class="icon-share"></i>&nbsp Share</button>
      {% endif %}
    </div>
    <div class="infobox-name">
      <a href="/organizations/{{ election.constituency.id }}">{{ election.constituency.name }}</a><br />
    </div>
    <div class="btn-group infobox-button-right">
      {% if user in election.constituency.moderators.all %}
        <button onclick="location.href='/offices/add'" class="btn btn-primary"><i class="icon-shield"></i>&nbsp Add Office</button>
        <button onclick="location.href='/elections/add'" class="btn btn-primary"><i class="icon-list-ul"></i>&nbsp Add Election</button>
        <button onclick="location.href='/organizations/update/{{ election.constituency.id }}'" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp Edit </button>
      {% endif %}
    </div>
    <div class="infobox-name">
      {{ election.name }}
    </div>
    <div class="btn-group infobox-button-right">
      {% if user in election.constituency.moderators.all %}
        <button onclick="location.href='/candidates/mod-add/'" class="btn btn-primary"><i class="icon-user"></i>&nbsp Add Candidate</button>
        <button onclick="location.href='/elections/update/{{ election.id }}'" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp Edit </button>
      {% endif %}
    </div>
    {% if is_election_day %}
      <div class="infobox-name">
        <button style="background-color:#ffff70; color:#333" class="btn infobox-button-voting-is-today" onclick="window.open('{{ election.voting_link }}')" ><i class="icon-check"></i> Voting is today!</button>
      </div>
    {% endif %}
    <hr style="clear:both; padding:5px 0 0 0;">

    {% if user in election.constituency.moderators.all %}
      {% if election.moderator_candidate_queue %}
        <button style="background-color:#ffff70; color:#333" class="btn infobox-button-approval-right"><i class="icon-user"></i> Candidates Waiting for Your Approval</button>
        {% for candidate in election.moderator_candidate_queue %}
          <p style="clear:right; float:right;">
          {% if candidate.user.last_name %}
            {{ candidate.user.first_name }} {{ candidate.user.last_name }}
          {% else %}
            {{ candidate.user.username }}
          {% endif %} 
          &nbsp &nbsp <a href="/candidates/{{ candidate.id }}">view</a>
          &nbsp &nbsp <a href="/candidates/mod-approve/{{ candidate.id }}">approve</a>
          &nbsp &nbsp <a href="/candidates/mod-deny/{{ candidate.id }}">deny</a>
          </p>
        {% endfor %}
      {% endif %}
    {% endif %}

    {% if election.constituency.rectangle_profile_picture %}
      <div class="infobox-picture-rectangle">
        <img class="img-responsive" src="/static/uploaded_files/{{election.constituency.rectangle_profile_picture}}" />
      </div> 
    {% elif election.constituency.profile_picture %}
      <div class="infobox-picture">
        <img class="img-responsive" src="/static/uploaded_files/{{election.constituency.profile_picture}}" />
      </div>
    {% endif %}
    
    <div class="infobox-name">
      {{ election.constituency.name }}
    </div>
    {% if election.constituency.email %}
      <a style="color:#555;" class="infobox-contact-button-right" href="MAILTO:{{ election.constituency.email }}"><i class="icon-envelope-alt icon-2x"></i></a>
    {% endif %}
    {% if election.constituency.facebook_page %}
      <a target="_blank" style="color:#3B5998;" class="infobox-contact-button-right" href="{{ election.constituency.facebook_page }}"><i class="icon-facebook-sign icon-2x"></i></a>
    {% endif %}
    {% if election.constituency.linkedin_page %}
      <a target="_blank" style="color:#0E76A8;" class="infobox-contact-button-right" href="{{ election.constituency.linkedin_page }}"><i class="icon-linkedin-sign icon-2x"></i></a>
    {% endif %}
    {% if election.constituency.twitter_name %}
      <a target="_blank" style="color:#4099FF;" class="infobox-contact-button-right" href="https://www.twitter.com/{{ election.constituency.twitter_name|slice:"1:" }}"><i class="icon-twitter-sign icon-2x"></i></a>
    {% endif %}
    {% if election.constituency.personal_homepage %}
      <a target="_blank" style="color:#555;" class="infobox-contact-button-right" href="{{ election.constituency.personal_homepage }}"><i class="icon-home icon-2x"></i></a>
    {% endif %}
    {% if election.about %}
      <div style="margin:20px 0 0 0" class="infobox-about">
        <h4>About {{ election.name }}</h4><br />
        <div class="infobox-indent">
          <p>{{ election.about|urlize|linebreaksbr }}</p>
        </div>
      </div>
    {% endif %}
    <br />
    <div class="infobox-about">
      <h4>Voting day(s)</h4>
      {% if election.voting_link %}
        <button style="background-color:#ffff70; color:#333" class="btn infobox-button-approval-right" onclick="window.open('{{ election.voting_link }}')" ><i class="icon-check"></i> Vote Online</button><br />
      {% endif %}
      <div class="infobox-indent-sans-serif">
        <p>{{ election.first_voting_day }}{% if election.last_voting_day %} - {{ election.last_voting_day }}{% endif %}</p><br />
      </div>
    <br />
    <div class="infobox-about">
      <h4>Available Office(s)</h4>
      <div class="infobox-indent-sans-serif">
        {% for office in election.constituency.office_set.all %}
          <p><a href="/offices/{{ office.id }}">{{ office.name }}</a></p><br />
        {% endfor %}
      </div>
    </div>
    <br />
    <div class="infobox-about">
      <h4>Moderator(s)</h4><br />
      {% for moderator in election.constituency.moderators.all %}
        <div class="infobox-indent-sans-serif">
          <p><a href="/users/{{ moderator }}">
            {% if moderator.userprofile.first_name and moderator.userprofile.last_name %}
              {{ moderator.userprofile.first_name }} {{ moderator.userprofile.last_name }}<br />
            {% else %}
              {{ moderator }}<br />
            {% endif %}
          </a></p>
        </div>
      {% endfor %}
    </div>

    <div class="modal fade" id="shareelectionModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Share this Election</h3>
          </div>
          <div class="modal-body">
            <strong>Copy the link below to share this election page:</strong>
            <br />
            <br />
            <p>www.everyvote.org/elections/{{election.id}}</p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
</div>

<div class="infobox-list">
  <div class="infobox-list-showing">
    <strong>Show only:</strong>
    <br />
    <form method="POST">
      <select name="showing_form" onChange="top.location.href = this.form.showing_form.options[this.form.showing_form.selectedIndex].value; return false;">
        <option>All Offices</option>
        {% for office in election.constituency.office_set.all %}
          <option value="/elections/{{ election.id }}/office/{{ office.id }}">{{ office.name }}</option>
        {% endfor %}
      </select>
    </form>
  </div>
  <div class="infobox-list-sort-by">
    <strong>Sort by:</strong>
    <br />
    <form method="POST">
      <select name="sort_by_form" onChange="top.location.href = this.form.sort_by_form.options[this.form.sort_by_form.selectedIndex].value; return false;">
        <option value="/elections/{{ election.id }}">Random</option>
        <option value="/elections/{{ election.id }}/alpha">Alphabetical</option>
      </select>
    </form>
  </div>
  <hr style="clear:both;padding:0;margin:10px 0;">
  
  <div class="infobox-list-inside">
    {% if eligible_candidates %}
      {% for candidate in eligible_candidates %}
        <div class="{{ forloop.counter|divisibleby:2|yesno:'infobox-list-profile-light, infobox-list-profile-dark' }}">
          <div class="infobox-list-picture">
              <a href="/candidates/{{ candidate.pk }}"><img src="/static/uploaded_files/{{ candidate.user.profile_picture }}" /></a>
          </div>
          <div class="infobox-list-info">
            <h2><a href="/candidates/{{ candidate.pk }}">
              {% if candidate.user.last_name %} 
                {{ candidate.user.first_name }} {{ candidate.user.last_name }} 
              {% else %}
                {{ candidate.user.user.username }} 
              {% endif %}</a></h2>
              <p><strong>Running for: </strong>{{ candidate.office.name }}</p>
              {% if candidate.goals %}
              <p><strong>Goals: </strong>{{ candidate.goals|truncatechars:200 }}</p>
              {% elif candidate.experience %}
              <p><strong>Experience: </strong>{{ candidate.experience|truncatechars:200 }}</p>
              {% elif candidate.about %}
              <p><strong>About me: </strong>{{ candidate.about|truncatechars:200 }}</p>
              {% else %}
              {% endif %}
          </div>
        <div style="clear:both;">
        </div>
      </div>
      <br />
    {% endfor %}
    {% else %}
      <h4>If you would like to add your candidate profile to this election page, please sign in and click the <a href="/candidates/add/">Run for Office</a> button.</h4>
    {% endif %}
  </div>
</div>
{% endblock %}
