{% extends "base.html" %}
{% load comments %}

{% block constituency_selector %}
{% endblock %}

{% block box1 %}
<h1>{{ election.constituency.name }}</h1>
<h2>{{ election.name }}</h2>
<p><strong>About Election:</strong>
<br />
{{ election.description }}</p>
<p><strong>Moderator(s):</strong>
<br />
(moderator names go here)</p>


<p>
<div class="pull-left">
    <strong>Showing:</strong>
    <br />
    <select name="showing" class="pull-left">
        <p><strong>Sort by:</strong></p>
        <option>All Offices</option>
        {% for office in election.constituency.office_set.all %}
        <option>{{ office.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="pull-right">
    <strong>Sort by:</strong>
    <br />
    <select name="showing" class="pull-right">
        <option>Random</option>
        <option>Alphabetical</option>
    </select>
</div>
</p>

<br />
<hr>
{% endblock %}

{% block box2 %}
{% for candidate in election.candidate_set.all %}
<div id="election_candidate_profile">
    <div id="election_candidate_picture">
        <p><img src="/static/assets/{{ candidate.member.profile_picture }}" width="200" /></p>
    </div>
    <div id="election_candidate_information">
        <h2 style="padding:0px; margin:0px"><a href="/candidates/get/{{ candidate.id }}">{{ candidate.member.first_name }} {{ candidate.member.last_name }}</a></h2>
        {% get_comment_count for candidate as comment_count %}
        {{ comment_count }} comment{{ comment_count|pluralize }}
        <br />
        <p><strong>Running for: </strong>{{ candidate.office }}</p>
        <p><strong>About me: </strong>{{ candidate.description|slice:":255" }}</p>
        <p><strong>Comments[]</strong></p>
        <p>{{ candidate.id }}</p>
    </div>
</div>
<br />
<hr style="clear:both">

{% endfor %}
{% endblock %}