{% extends "base.html" %}
{% load comments %}

{% block title %}{{ election.constituency.name }} - {{ election.name }}{% endblock %}

{% block extrahead %}
<meta property="og:description" content="Learn about and contact your {{ election.constituency.parent_constituency }} candidates in one convenient place with EveryVote." />
<meta property="og:image" 
{% if election.constituency.profile_picture %}
content="http://www.everyvote.org/static/uploaded_files/{{election.constituency.profile_picture}}" 
{% else %}
content="http://www.everyvote.org/static/uploaded_files/{{election.constituency.parent_constituency.profile_picture}}" 
{% endif %}
/>
{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      <a href="/universities/{{ election.constituency.parent_constituency.id }}">{{ election.constituency.parent_constituency.name }}</a><br />
      <a href="/organizations/{{ election.constituency.id }}">{{ election.constituency.name }}</a><br />
    {{ election.name }}
    </div>
    
    <!--infobox buttons-->
    {% if user in election.constituency.parent_constituency.administrators.all %}
      <a href="/universities/update/{{election.constituency.parent_constituency.id}}"><button class="btn btn-warning infobox-university-button"><span class="glyphicon glyphicon-pencil"></span> Edit University</button></a>
    {% endif %}
    <button class="btn btn-info infobox-share-button" data-toggle="modal" href="#shareelectionModal">Share Election</button>
      {% if user in election.constituency.moderators.all %}
        <a href="/organizations/update/{{election.constituency.id}}"><button class="btn btn-warning infobox-button"><span class="glyphicon glyphicon-pencil"></span> Edit Organization</button></a>
        <a href="/elections/update/{{election.id}}"><button class="btn btn-warning infobox-button"><span class="glyphicon glyphicon-pencil"></span> Edit Election</button></a>
      {% endif %}
    <!--/infobox buttons-->

    <hr style="clear:both; padding:5px 0 0 0;">
    
    <div class="infobox-voting-days">
    <p><big><strong>Voting day(s):</strong></big><br />
      {{ election.first_voting_day }}{% if election.last_voting_day %} - {{ election.last_voting_day }}{% endif %}</p>
    </div>
    <div class="infobox-about">
      <big><strong>About Election:</strong></big>
      {{ election.about|linebreaks|urlize }}
    </div>
    
    <div class="infobox-moderators">
      <p><big><strong>Moderator(s):</strong></big>
      {% for moderator in election.constituency.moderators.all %}
        <br />
        <a href="/users/{{ moderator }}">
          {% if moderator.userprofile.first_name and moderator.userprofile.last_name %}
            {{ moderator.userprofile.first_name }} {{ moderator.userprofile.last_name }}<br />
          {% else %}
            {{ moderator }}<br />
          {% endif %}
        </a>
      {% endfor %}</p>
    </div>
    
    <div class="modal fade" id="shareelectionModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Share this Election</h3>
          </div>
          <div class="modal-body">
            <strong>Copy the link below to share this election page:</strong>
            <br />
            <br />
            <p>www.everyvote.org/elections/{{election.id}}</p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
</div>

<div class="infobox-list">
  <div class="infobox-list-showing">
    <strong>Show only:</strong>
    <br />
    <form method="POST">
      <select name="showing_form" onChange="top.location.href = this.form.showing_form.options[this.form.showing_form.selectedIndex].value; return false;">
        <option>All Offices</option>
        {% for office in election.constituency.office_set.all %}
          <option value="/elections/{{ election.id }}/office/{{ office.id }}">{{ office.name }}</option>
        {% endfor %}
      </select>
    </form>
  </div>
  <div class="infobox-list-sort-by">
    <strong>Sort by:</strong>
    <br />
    <form method="POST">
      <select name="sort_by_form" onChange="top.location.href = this.form.sort_by_form.options[this.form.sort_by_form.selectedIndex].value; return false;">
        <option value="/elections/{{ election.id }}/alpha">Alphabetical</option>
        <option value="/elections/{{ election.id }}">Random</option>
      </select>
    </form>
  </div>
  <br />
  <hr style="clear:both;">
  <div class="infobox-list-inside">
    {% for candidate in eligible_candidates|dictsort:"user.last_name" %}
      <div class="infobox-list-profile">
                <div class="infobox-list-picture">
          <a href="/candidates/{{ candidate.pk }}"><img src="/static/uploaded_files/{{ candidate.user.profile_picture }}" /></a>
        </div>
        <div class="infobox-list-info">
          <h2><a href="/candidates/{{ candidate.pk }}">
            {% if candidate.user.first_name %} 
            {{ candidate.user.first_name }} {{ candidate.user.last_name }} 
            {% else %}
            {{ candidate.user.username }} 
            {% endif %}</a></h2>
          <br />
          <p><strong>Running for: </strong>{{ candidate.office.name }}</p>
          <p><strong>About me: </strong>{{ candidate.about|truncatechars:200 }}</p>
        </div>
      </div>
      {% if forloop.last %}
      {% else %}
      <hr style="clear:both;">
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
