{% extends "base.html" %}
{% load comments %}

{% block buttons %}
    <script>$(".disabled-link").click(function(event) {
         event.preventDefault();
    });</script>
    <ul class="nav nav-pills pull-right navFix">
    {% if user.is_authenticated %}
      <div class="btn-group btn-more-top-margin">
            <a href="/candidates/add/"><button type="button" class="btn btn-success dropdown-toggle">
            Run for Office
            </button></a>
      </div>
      <div class="btn-group btn-more-top-margin">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-plus"></span>&nbsp Add
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret caret-white"></span></button>
            <ul class="dropdown-menu" role="menu">
            <li><a href="/groups/add">Group</a></li>
            <li><a class="disabled-link" href="/elections/add">Election</a></li>
            </ul>
        </div>
        <div class="btn-group btn-more-top-margin">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp Edit
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret caret-white"></span></button>
            <ul class="dropdown-menu" role="menu">
            <li><a href="/users/{{ user }}">Profile</a></li>
                {% if user in election.constituency.moderators.all %}
                    <li><a href="/groups/update/{{ election.constituency.id }}">Group</a></li>
                    <li><a href="/elections/update/{{ election.id }}">Election</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="btn-group btn-more-top-margin">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>&nbsp
                {% if user.userprofile.first_name %} {{ user.userprofile.first_name }} {{ user.userprofile.last_name }} 
                {% else %} 
                {{ user.username }} 
                {% endif %}</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret caret-black"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings</a></li>
            <li class="divider"></li>
            <li><a href="/logout/">Logout</a></li>
            </ul>
        </div>
    {% else %} 
        <li><a href="/accounts/register/" class="btn btn-primary pull-right">Register</a></li>
        <li><a href="/login/" class="btn btn-primary pull-right">Login</a></li>
    {% endif %}
    </ul>
{% endblock %}

{% block breadcrumb %}
<div class="row">
  <ol class="breadcrumb">
    <li><a href="/universities/{{ election.constituency.parent_constituency.id }}">{{ election.constituency.parent_constituency.name }}</a></li>
    <li><a href="/groups/{{ election.constituency.id}}">{{ election.constituency.name }}</a></li>
  </ol>
</div>
{% endblock %}

{% block box1 %}
<div id="election_infobox_border">
<div class="row">
  <div id="election_infobox_inside">
  <button id="election_infobox_share_election_button" class="btn btn-info" data-toggle="modal" href="#shareelectionModal">Share this Election</button>
  {% if user in election.constituency.moderators.all %}
    <a href="/groups/update/{{election.constituency.id}}"><button class="btn btn-warning" id="election_infobox_edit_group_button"><span class="glyphicon glyphicon-pencil"></span> Edit Group</button></a>
    <a href="/elections/update/{{election.id}}"><button class="btn btn-warning" id="election_infobox_edit_election_button"><span class="glyphicon glyphicon-pencil"></span> Edit Election</button></a>
  {% endif %}
    <div id="election_infobox_name">
      <span style="font-size:2.25em; padding:0; margin:0;">{{ election.constituency.parent_constituency.name }}</span><br />
      <span style="font-size:2.25em; padding:0; margin:0;">{{ election.constituency.name }}<br /></span>
      <span style="font-size:2.25em; padding:0; margin:0;">{{ election.name }}</span>
    </div>
<hr>
    <div id="election_infobox_voting_days">
    <p><strong>Voting day(s):</strong><br />
      {{ election.first_voting_day }}{% if election.last_voting_day %} - {{ election.last_voting_day }}{% endif %}</p>
    </div>
    <div id="election_infobox_moderators">
      <strong>Moderator(s):</strong>
      {% for moderator in election.constituency.moderators.all %}
        <br />
        <a href="/users/{{ moderator }}">
          {% if moderator.userprofile.first_name and moderator.userprofile.last_name %}
            {{ moderator.userprofile.first_name }} {{ moderator.userprofile.last_name }}
          {% else %}
            {{ moderator }}
          {% endif %}
        </a>
      {% endfor %}
      <br />
      <br />
    </div>
    <br />
    <div id="election_infobox_about_election">
      <strong>About Election:</strong>
      {{ election.description|linebreaks }}
    </div>
<div class="modal fade" id="shareelectionModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">Share this Election</h3>
        </div>
        <div class="modal-body">
            <strong>Copy the link below to share this election page:</strong>
            <br />
            <br />
            <p>www.everyvote.org/elections/{{election.id}}</p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
</div>
</div>

<div id="election_candidate_list_border">
  <div style="float:left">
    <strong>Showing:</strong>
    <br />
    <select name="showing" style="float:left">
      <p><strong>Sort by:</strong></p>
        <option>All Offices</option>
        {% for office in election.constituency.office_set.all %}
          <option>{{ office.name }}</option>
        {% endfor %}
    </select>
  </div>
  <div style="float:right">
    <strong>Sort by:</strong>
    <br />
    <form method="POST">
      <select name="sort_by_form" onChange="top.location.href = this.form.sort_by_form.options[this.form.sort_by_form.selectedIndex].value; return false;">
        <option value="/elections/{{ election.id }}/alpha">Alphabetical</option>
        <option value="/elections/{{ election.id }}">Random</option>
      </select>
    </form>
  </div>
  <br />
  <br />
  <hr>
  <div id="election_candidate_list_inside">
    {% for candidate in election.candidate_set.all|dictsort:"user.last_name" %}
      <div id="election_candidate_profile">
        <div id="election_candidate_list_picture">
          <img src="/static/assets/{{ candidate.user.profile_picture }}" />
        </div>
        <div id="election_candidate_list_info">
          <h2><a href="/candidates/{{ candidate.pk }}">{{ candidate.user.first_name }} {{ candidate.user.last_name }}</a></h2>
          <br />
          <p><strong>Running for: </strong>{{ candidate.office.name }}</p>
          <p><strong>About me: </strong>{{ candidate.description|slice:":255" }}</p>
        </div>
      </div>
      <br />
      {% if forloop.last %}
      {% else %}
      <hr style="clear:both;">
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}