{% extends 'base.html' %}

{% block title %}Contact EveryVote{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      Contact EveryVote
    </div>
    <hr style="clear:both;">
    <div class="infobox-about">
      <p>If you would like <strong>help setting up an election page</strong> for your student organization, please provide the following information if you can:</p>
        <ul>
          <li>name</li>
          <li>email</li>
          <li>university</li>
          <li>student organization name</li>
          <li>title of office (if you hold one)</li>
          <li>upcoming voting days (if you know them)</li>
          <li>offices in next election</li>
        </ul>
      <p>You can also reach EveryVote on Twitter <a href="https://www.twitter.com/everyvoteu">@EveryVoteU</a> and <a href="http://www.facebook.com/everyvote">Facebook</a>.
    </div><!--/.infobox-disclaimer -->
    <hr style="clear:both;">
    <form action="/contact/" method="post">{% csrf_token %}
      {% csrf_token %}
      {% if form.errors %}
        <p>Please correct the following fields:</p>
      {% endif %}
        <div class="infobox-form-input">
          {% if form.sender.errors %}
            <p class="error">{{ form.sender.errors }}</p>
          {% endif %}
          <label style="margin:0 38px 0 0" for="sender"{% if form.sender.errors %} class="error"{% endif %}>Name:</label>
          {{ form.sender }}
        </div>
        <div class="infobox-form-input">
          {% if form.email.errors %}
            <p class="error">{{ form.email.errors }}</p>
          {% endif %}
          <label style="margin:0 40px 0 0" for="email"{% if form.email.errors %} class="error"{% endif %}>Email:</label>
          {{ form.email }}
        </div>
        <div class="infobox-form-input">
          {% if form.university.errors %}
            <p class="error">{{ form.university.errors }}</p>
          {% endif %}
          <label style="margin:0 6px 0 0" for="university"{% if form.university.errors %} class="error"{% endif %}>University:</label>
          {{ form.university }}&nbsp &nbsp <em>(optional)</em>
        </div>
        <div class="infobox-selector">
          {% if form.message.errors %}
            <p class="error">{{ form.message.errors }}</p>
          {% endif %}
          <p><label for="message"{% if form.message.errors %} class="error"{% endif %}>Message:</label></p>
          <p>{{ form.message }}</p>
        </div>
        <div class="infobox-selector">
          {% if form.captcha.errors %}
            <p class="error">{{ form.captcha.errors }}</p>
          {% endif %}
          <p><label for="captcha"{% if form.captcha.errors %} class="error"{% endif %}></label></p>
          <p>{{ form.captcha }}</p>
        </div>
        <hr style="clear:both">
        <input type="submit" class="btn btn-primary infobox-button-right" value="Send" />
        <a href="/" class="btn btn-small btn-danger infobox-button-right">Cancel</a>
        <br />
        <br />
    </form>
  </div><!--/.infobox-inside --->
</div><!--/.infobox -->
{% endblock %}