{% extends 'base.html' %}

{% block title %}Contact EveryVote{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      Contact EveryVote
    </div>
    <hr style="clear:both;">
    <div class="infobox-disclaimer">
      <p>Thank you for your feedback. The goal of EveryVote is to provide free and equal access to online election information resources.</p>            
      <p>EveryVote helps USA universities share election and candidate information in one convenient online location.</p>
      <p>If you would like <strong>help setting up an election page</strong> for your student organization, please provide your:</p>
        <ul>
          <li>name</li>
          <li>email</li>
          <li>university</li>
          <li>student organization name</li>
          <li>title of office (if you hold one)</li>
          <li>upcoming voting days (if you know them)</li>
          <li>offices in next election</li>
        </ul>
      <p>You can also reach EveryVote on Twitter <a href="https://www.twitter.com/everyvoteu">@EveryVoteU</a> and Facebook <a href="http://www.facebook.com/everyvote">www.facebook.com/everyvote</a>.
    </div><!--/.infobox-disclaimer -->
    <hr style="clear:both;">
    <form action="/contact/" method="post">{% csrf_token %}
      {% csrf_token %}
      {% if form.errors %}
        <p>Please correct the following fields:</p>
      {% endif %}
        <div class="infobox-selector">
          {% if form.sender.errors %}
            <p class="error">{{ form.sender.errors }}</p>
          {% endif %}
          <p><label for="sender"{% if form.sender.errors %} class="error"{% endif %}>Name:</label></p>
          <p>{{ form.sender }}</p>
        </div>
        <div class="infobox-selector">
          {% if form.email.errors %}
            <p class="error">{{ form.email.errors }}</p>
          {% endif %}
          <p><label for="email"{% if form.email.errors %} class="error"{% endif %}>Email:</label></p>
          <p>{{ form.email }}</p>
        </div>
        <div class="infobox-selector">
          {% if form.university.errors %}
            <p class="error">{{ form.university.errors }}</p>
          {% endif %}
          <p><label for="university"{% if form.university.errors %} class="error"{% endif %}>University (optional):</label></p>
          <p>{{ form.university }}</p>
        </div>
        <div class="infobox-selector">
          {% if form.message.errors %}
            <p class="error">{{ form.message.errors }}</p>
          {% endif %}
          <p><label for="message"{% if form.message.errors %} class="error"{% endif %}>Message:</label></p>
          <p>{{ form.message }}</p>
        </div>
        <div class="infobox-selector">
          {% if form.captcha.errors %}
            <p class="error">{{ form.captcha.errors }}</p>
          {% endif %}
          <p><label for="captcha"{% if form.captcha.errors %} class="error"{% endif %}></label></p>
          <p>{{ form.captcha }}</p>
        </div>
        <br />
    <p><input type="submit" class="btn btn-primary" value="Send message" /></p>
</form>
  </div><!--/.infobox-inside --->
</div><!--/.infobox -->
{% endblock %}
