{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=”utf-8”> 
    <title>{% block title %}EveryVote - University Elections{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static "assets/css/datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <script type="text/javascript" src="{% static "assets/js/jquery-1.10.2.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery-ui.js" %}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    
    <!-- this script enables links in dropdown menus to appear disabled -->
    <script>$(".disabled-link").click(function(event) { event.preventDefault(); });</script>
    
    {% block extrahead %}
    {% endblock %}
</head>

<body>
{% block navbar %}
{% if user.is_authenticated %}
<nav class="navbar navbar-default" style="font-family: 'Oswald', sans-serif;" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand"><span style="color:black">Every</span><span style="color:red">Vote</span></a>
  </div><!-- .navbar-header -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
    
    <!-- search bar is currently not active
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/candidates/add">Run for Office</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-plus"></span>&nbsp Add 
        <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/universities/add">University</a></li>
          <li><a href="/organizations/add">Organization</a></li>
          <li><a href="/elections/add">Election</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>&nbsp
        {% if user.userprofile.first_name %} 
          {{ user.userprofile.first_name }} {{ user.userprofile.last_name }} 
        {% else %} 
          {{ user.username }} 
        {% endif %}
        <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/users/{{ user }}">Edit Account</a>
          <li><a href="/accounts/logout/">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
{% else %}
<nav class="navbar navbar-default" style="font-family: 'Oswald', sans-serif;" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><span style="color:black">Every</span><span style="color:red">Vote</span></a>
  </div><!-- .navbar-header -->
  
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/" data-toggle="modal">Contact EV</a></li>
    </ul>
    <!-- search bar is currently not active
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/accounts/login/">Login</a></li>
      <li><a href="/accounts/register">Register</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
{% endif %}
{% endblock %}

<div class="container"> 

  <big><div id="breadcrumb" class="col-xs-12 col-sm-12 col-md-10 col-lg-8  col-md-offset-1 col-lg-offset-2">
    {% block breadcrumb %}
    {% endblock %}
  </div></big>

  <div id="box1" class="col-xs-12 col-sm-12 col-md-10 col-lg-8  col-md-offset-1 col-lg-offset-2">
      {% block box1 %}
      {% endblock %}
  </div>
  
  <!--goodbye #box2  (っ˘̩╭╮˘̩)っ-->
  
  <div id="footer" class="footer text-center col-xs-12 col-sm-12 col-md-10 col-lg-8  col-md-offset-1 col-lg-offset-2">
    <hr style="clear:both; padding:0; margin:0;">
    {% block footer %}
    <br />
    {% if user.is_authenticated %}
      <p><a href="/accounts/logout">Logout</a></p>
    {% else %}
      <p><a href="/accounts/login">Login</a></p>
      <p><a href="/accounts/register">Register</a></p>
    {% endif %}
      <p>EveryVote is free and open source under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero GPL</a>.</p>
      <br />
    {% endblock %}
  </div><!-- /.footer -->
</div><!-- /.container -->
</body>
</html>
