{% extends "base.html" %}

{% block title %}EveryVote - University Elections{% endblock %}

{% block box1 %}
<div class="container">
  <h1 style="font-size:4em; text-align:center; font-family:'Oswald', sans-serif; padding:0; margin:0;">Every<span style="color:red">Vote</span></h1>
  <div class="showbox">
    <div class="showbox-title">
      ALL YOUR UNIVERSITY CANDIDATES IN ONE PLACE
    </div>
    <br />
    <div class="showbox-selector col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
      SELECT YOUR UNIVERSITY 
      <form method="POST">
        <select name="parent_constituency_form" class="form-control" onChange="top.location.href = this.form.parent_constituency_form.options[this.form.parent_constituency_form.selectedIndex].value; return false;">
           <option>Select university</option>
        {% for parent_constituency in parent_constituencies %}
          <option value="/universities/{{ parent_constituency.id }}">{{ parent_constituency.name }}</option>
        {% endfor %}
        </select>
      </form>
    </div>
  <br />
  <a href="/moderator/" class="showbox-button centered btn btn-success">Become a Moderator</a>
  <br />
  </div>
  <br />
  <div class="featurebox">
  <div class="featurebox-item darker-background">
    <div class="featurebox-picture">
      <img src="/static/images/people-icon.png" />
    </div>
    <div class="featurebox-text">
      <br />
      <p><big><strong>FIND YOUR CANDIDATE PROFILES</strong></big></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque augue vitae rhoncus laoreet. Vivamus tellus tellus, luctus ac arcu eu, vehicula vulputate magna. Duis viverra imperdiet arcu non rhoncus.</p>
    </div>
  </div>
  <div class="featurebox-item lighter-background">
    <div class="featurebox-picture">
      <img src="/static/images/plus-icon.png" />
    </div>
    <div class="featurebox-text">
      <br />
      <p><big><strong>CREATE AN ELECTION PAGE</strong></big></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque augue vitae rhoncus laoreet. Vivamus tellus tellus, luctus ac arcu eu, vehicula vulputate magna. Duis viverra imperdiet arcu non rhoncus.</p>
    </div>
  </div>
  <div class="featurebox-item darker-background">
    <div class="featurebox-picture">
      <img src="/static/images/boost-icon.png" />
    </div>
    <div class="featurebox-text">
      <br />
      <p><big><strong>INCREASE VOTER TURNOUT</strong></big></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque augue vitae rhoncus laoreet. Vivamus tellus tellus, luctus ac arcu eu, vehicula vulputate magna. Duis viverra imperdiet arcu non rhoncus.</p>
    </div>
  </div>
</div>
</div>
{% endblock %}
