{% extends "base.html" %}
{% load comments %}

{% block title %}{{ candidate.user.first_name }} {{ candidate.user.last_name }} Running for {{ candidate.office }} of {{ candidate.election.constituency }}{% endblock %}

{% block extrahead %}
<meta property="og:url" content="http://www.everyvote.org/candidates/{{ candidate.id }}" />
<meta property="og:image" content="http://www.everyvote.org/static/uploaded_files/{{ candidate.profile_picture }}" />
<meta property="og:description" content={% if candidate.goals %}"{{ candidate.goals }}"{% else %}"{{ candidate.about }}"{% endif %}
{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      <a href="/universities/{{ candidate.election.constituency.parent_constituency.id }}">{{ candidate.election.constituency.parent_constituency.name }}</a><br />
    </div>
    {% if user in election.constituency.parent_constituency.administrators.all %}
      <a href="/universities/update/{{candidate.election.constituency.parent_constituency.id}}"><button class="btn btn-warning infobox-button-right"><span class="glyphicon glyphicon-pencil"></span> Edit</button></a>
      <a href="/organizations/add/"><button class="btn btn-success infobox-button-right">Add Organization</button></a>
    {% endif %}
    <button class="btn btn-info infobox-button-right" data-toggle="modal" href="#sharecandidateModal">Share</button>
    <div class="infobox-name">
      <a href="/organizations/{{ candidate.election.constituency.id }}">{{ candidate.election.constituency.name }}</a><br />
    </div>
    {% if user in candidate.election.constituency.moderators.all %}
      <a href="/organizations/update/{{candidate.election.constituency.id}}"><button class="btn btn-warning infobox-button-right"><span class="glyphicon glyphicon-pencil"></span> Edit</button></a>
      <a href="/elections/add/"><button class="btn btn-success infobox-button-right">Add Election</button></a>
      <a href="/offices/add/"><button class="btn btn-success infobox-button-right">Add Office</button></a>
    {% endif %}
    <div class="infobox-name">
      <a href="/elections/{{ candidate.election.id }}">{{ candidate.election.name }}</a><br />
    </div>
    {% if user in candidate.election.constituency.moderators.all %}
      <a href="/elections/update/{{candidate.election.constituency.id}}"><button class="btn btn-warning infobox-button-right"><span class="glyphicon glyphicon-pencil"></span> Edit</button></a>
      <a href="http://www.everyvote.org/candidates/mod-add-candidate/" class="btn btn-success infobox-button-right">Add Candidate</button></a>
    {% endif %}
    <div class="infobox-name">
      Candidate
    </div>
    {% if user.userprofile.id = candidate.user.id %}
      <a href="/candidates/update/{{candidate.id}}"><button class="btn btn-warning infobox-button-right"><span class="glyphicon glyphicon-pencil"></span> Edit Candidate Profile</button></a>
    {% endif %}
    
    <hr style="clear:both; padding:5px 0; margin:5px 0;">

    {% if candidate.user.profile_picture %}  
      <div class="infobox-candidate-picture">
        <p><img src="/static/uploaded_files/{{candidate.user.profile_picture}}" /></p>
      </div>
    {% endif %}
    <div class="infobox-name">
      {{ candidate.user.first_name }} {{ candidate.user.last_name }}
    </div>
      {% if candidate.user.email %}
        <p><a style="color:#555;" class="infobox-contact-button-right" href="MAILTO:{{ candidate.user.email }}"><i class="icon-envelope-alt icon-2x"></i></a>
      {% endif %}
      {% if candidate.user.facebook_page %}
        <a target="_blank" style="color:#3B5998;" class="infobox-contact-button-right" href="{{ candidate.user.facebook_page }}"><i class="icon-facebook-sign icon-2x"></i></a>
      {% endif %}
      {% if candidate.user.linkedin_page %}
        <a target="_blank" style="color:#0E76A8;" class="infobox-contact-button-right" href="{{ candidate.user.linkedin_page }}"><i class="icon-linkedin-sign icon-2x"></i></a>
      {% endif %}
      {% if candidate.user.twitter_name %}
        <a target="_blank" style="color:#4099FF;" class="infobox-contact-button-right" href="https://www.twitter.com/{{ candidate.user.twitter_name|slice:"1:" }}"><i class="icon-twitter-sign icon-2x"></i></a>
      {% endif %}
      {% if candidate.user.personal_homepage %}
        <a target="_blank" style="color:#555;" class="infobox-contact-button-right" href="{{ candidate.user.personal_homepage }}"><i class="icon-home icon-2x"></i></a>
      {% endif %}
    <div class="infobox-below-name">
      <strong>Running for: </strong>{{ candidate.office.name }}
    </div>
    <div class="infobox-about">
      {% if candidate.user.major %}
        <p><strong>Major: </strong>{{ candidate.user.major }}
      {% endif %}
      {% if candidate.user.year_in_school %}
        <p><strong>Year: </strong>{{ candidate.user.year_in_school }}
      {% endif %}
      {% if candidate.party %}
        <p><strong>Party: </strong>{{ candidate.party }}
      {% endif %}
      {% if candidate.key_issues %}
        <p><strong>Key Issues: </strong>{{ candidate.key_issues }}</p>
      {% endif %}
      {% if candidate.goals %}
      <p><strong>Goals:</strong>{{ candidate.goals|linebreaks|urlize }}</p>
      {% endif %}
      {% if candidate.experience %}
      <p><strong>Experience:</strong>{{ candidate.experience|linebreaks|urlize }}</p>
      {% endif %}
      {% if candidate.about %}
      <p><strong>About Me:</strong>{{ candidate.about|linebreaks|urlize }}</p>
      {% endif %}
    </div>
  </div>
</div>
<div class="modal fade" id="sharecandidateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Share this Candidate</h3>
      </div>
      <div class="modal-body">
        <strong>Copy the link below to share this candidate page:</strong>
        <br />
        <br />
        <p>www.everyvote.org/candidates/{{candidate.id}}</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
