{% extends "base.html" %}
{% load comments %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      <a href="/universities/{{ candidate.election.constituency.parent_constituency.id }}">{{ candidate.election.constituency.parent_constituency.name }}</a><br />
      <a href="/groups/{{ candidate.election.constituency.id }}">{{ candidate.election.constituency.name }}</a><br />
      <a href="/elections/{{ candidate.election.id }}">{{ candidate.election.name }}</a><br />
    </div>
    <button class="btn btn-info infobox-button" data-toggle="modal" href="#sharecandidateModal">Share</button>
    {% if user.pk == candidate.user.pk %}
      <a href="/candidates/update/{{candidate.id}}"><button class="btn btn-warning infobox-button"><span class="glyphicon glyphicon-pencil"></span> Edit Candidate Profile</button></a>
    {% endif %}
    <hr style="clear:both">
    {% if candidate.user.profile_picture %}  
      <div class="infobox-picture">
        <p><img src="/static/assets/{{candidate.user.profile_picture}}" /></p>
      </div>
    {% endif %}
    <div class="infobox-name">
      {{ candidate.user.first_name }} {{ candidate.user.last_name }}
    </div>
    <div class="infobox-about">
      <h4><strong>Running for: </strong>{{ candidate.office.name }} of {{ candidate.election.constituency.name }}</h4>
      {% if candidate.key_issues %}
        <p><strong>Key Issues: </strong>{{ candidate.key_issues }}</p>
      {% endif %}
        <strong>About me: </strong>{{ candidate.about|linebreaks }}
      {% if candidate.user.twitter_name %}
        <p><strong>Twitter: </strong>{{ candidate.user.twitter_name }}</p>
      {% endif %}
      {% if candidate.user.facebook_page %}
        <p><strong>Facebook: </strong>{{ candidate.user.facebook_page }}</p>
      {% endif %}
      {% if candidate.user.linkedin_page %}
        <p><strong>Linkedin: </strong>{{ candidate.user.linkedin_page }}</p>
      {% endif %}
      {% if candidate.user.personal_homepage %}
        <p><strong>Homepage: </strong>{{ candidate.user.personal_homepage}}</p>
      {% endif %}
    </div>
  </div>
</div>
<div class="modal fade" id="sharecandidateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Share this Candidate</h3>
      </div>
      <div class="modal-body">
        <strong>Copy the link below to share this candidate page:</strong>
        <br />
        <br />
        <p>www.everyvote.org/candidates/{{candidate.id}}</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<hr style="clear:both;">

<div class="comments">
  <h3>Comments</h3>
  {% get_comment_count for candidate as comment_count %}
  {{ comment_count }} comment{{ comment_count|pluralize }}
  <div class="comment_form">
  {% if user.is_authenticated %}
    {% get_comment_form for candidate as form %}
    <form action="{% comment_form_target %}" method="POST">
      {% csrf_token %}
      {{ form.comment }}
      {{ form.honeypot }}
      {{ form.content_type }}
      {{ form.object_pk }}
      {{ form.timestamp }}
      {{ form.security_hash }}
      <input type="hidden" name="name" value="{{ user }}" />
      <input type="hidden" name="email" value="{{ user.email|default:'d@ummy.com' }}" />
      <input type="hidden" name="url" value="" />
      <input type="hidden" name="next" 
          value="/candidates/{{ candidate.id }}" />
      <input type="submit" value="Add comment" id="id_submit" />
    </form>
  {% else %}
    <p>Please <a href="/accounts/login">log in</a> to leave a comment.</p>
  {% endif %}
</div>

{% get_comment_list for candidate as cmt_list %}
  {% for comment in cmt_list %}
    <div class="comment">
      <p><a href="/users/{{ comment.user }}">{{ comment.user_name }}</a> - {{ comment.submit_date }}
      {% if user.is_authenticated and comment.user == user %}
        <a href="/comments/delete/{{ comment.id }}">remove</a>
      {% elif user.is_authenticated and user in election.moderators.all %}
        <a href="/comments/delete/{{ comment.id }}">remove</a>
      {% endif %}            
      </p>
      <p>{{ comment.comment }}</p>
    </div>
  {% endfor %}

{% endblock %}