{% extends "base.html" %}

{% block title %}EveryVote - Run for Office{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      Run for Office
    </div>
    <hr style="clear:both;">
    <div class="infobox-disclaimer">
      <h3>*Disclaimer*</h3>
      <p>Running for office on EveryVote does not officially register you as a candidate for office. You need to contact the Elections Commissioner of your organization to make sure you are officially registered as a candidate.</p>
      <p>EveryVote is a way to raise awareness for your campaign by connecting you with your constituency (your organization of voters).</p>
    </div>
    <hr style="clear:both;">
    <p><strong>Important:</strong> you can set your first name, last name, profile picture, & contact information by editing <a href="/users/update/{{ user.username }}">your Global Profile</a>.</p>
    <form method="post" action="">
      {% csrf_token %}
      {% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
        <div class="infobox-selector">
        {% if form.election.errors %}<p class="error">{{ form.election.errors }}</p>{% endif %}
        <p><label for="election"{% if form.election.errors %} class="error"{% endif %}>Election:</label></p>
        <p>{{ form.election }}</p>
      </div>
      <div class="infobox-selector">
        {% if form.office.errors %}<p class="error">{{ form.office.errors }}</p>{% endif %}
          <p><label for="office"{% if form.office.errors %} class="error"{% endif %}>Office:</label></p>
          <p>{{ form.office }}</p>
      </div>
      <div class="infobox-selector">
        {% if form.party.errors %}<p class="error">{{ form.party.errors }}</p>{% endif %}
          <p><label for="party"{% if form.party.errors %} class="error"{% endif %}>Party:</label> <em>(optional)</em></p>
          <p>{{ form.party }}</p>
      </div>
      <div class="infobox-selector">
        {% if form.goals.errors %}<p class="error">{{ form.goals.errors }}</p>{% endif %}
        <p><label for="goals"{% if form.goals.errors %} class="error"{% endif %}>Goals:</label> <em>(optional)</em><br />What do you plan to accomplish after you are elected to this office?</p>
        <p>{{ form.goals }}</p>
      </div>
      <div class="infobox-selector">
        {% if form.experience.errors %}<p class="error">{{ form.experience.errors }}</p>{% endif %}
        <p><label for="experience"{% if form.experience.errors %} class="error"{% endif %}>Experience:</label> <em>(optional)</em><br />What previous experience do you have that will help you in this office?</p>
        <p>{{ form.experience }}</p>
      </div>
    <div class="infobox-selector">
      {% if form.about.errors %}<p class="error">{{ form.about.errors }}</p>{% endif %}
        <p><label for="about"{% if form.about.errors %} class="error"{% endif %}>About Me:</label> <em>(optional)</em><br />Is there anything else you want voters to know about you?</p>
        <p>{{ form.about }}</p>
    </div>
    <br />
    <a href="/" class="btn btn-small btn-danger">Cancel</a>
    <input type="submit" class="btn btn-success" value="Run for Office">
    </form>
  </div>
</div>
</div>
{% endblock %}
