{% extends "base.html" %}
{% load comments %}

{% block title %}{{ candidate.user.first_name }} {{ candidate.user.last_name }} Running for {{ candidate.office }} of {{ candidate.election.constituency }}{% endblock %}

{% block extrahead %}
<meta property="og:url" content="http://www.everyvote.org/candidates/{{ candidate.id }}" />
<meta property="og:title" content="{{ candidate.user.first_name }} {{ candidate.user.last_name }} running for {{ candidate.office.name }} of {{ candidate.election.constituency.parent_constituency.name }}'s {{ candidate.election.constituency.name }}/>
<meta property="og:image" content="http://www.everyvote.org/static/uploaded_files/{{ candidate.profile_picture }}" />
<meta property="og:description" content={% if candidate.goals %}"{{ candidate.goals }}"{% else %}"{{ candidate.about }}"{% endif %}
{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      <a href="/universities/{{ candidate.election.constituency.parent_constituency.id }}">{{ candidate.election.constituency.parent_constituency.name }}</a><br />
    </div>
    <div class="btn-group infobox-button-right">
      {% if user in election.constituency.parent_constituency.administrators.all %}
        <button class="btn btn-primary" data-toggle="modal" href="#sharecandidateModal"><i class="icon-share"></i>&nbsp Share</button>
        <button onclick="location.href='/organizations/add/'" class="btn btn-primary"><i class="icon-group"></i>&nbsp Add Organization</button></a>
        <button onclick="location.href='/universities/update/{{ candidate.election.constituency.parent_constituency.id }}'" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp Edit </button>
      {% else %}
        <button class="btn btn-primary" data-toggle="modal" href="#sharecandidateModal"><i class="icon-share"></i>&nbsp Share</button>
      {% endif %}
    </div>
    <div class="infobox-name">
      <a href="/organizations/{{ candidate.election.constituency.id }}">{{ candidate.election.constituency.name }}</a><br />
    </div>
    <div class="btn-group infobox-button-right">
      {% if user in candidate.election.constituency.moderators.all %}
        <button onclick="location.href='/offices/add/'" class="btn btn-primary"><i class="icon-shield"></i>&nbsp Add Office</button>
        <button onclick="location.href='/elections/add/'" class="btn btn-primary"><i class="icon-list-ul"></i>&nbsp Add Election</button>
        <button onclick="location.href='/organizations/update/{{ candidate.election.constituency.id}}'" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp Edit </button>
      {% endif %}
    </div>
    <div class="infobox-name">
      <a href="/elections/{{ candidate.election.id }}">{{ candidate.election.name }}</a><br />
    </div>
    <div class="btn-group infobox-button-right">
    {% if user in candidate.election.constituency.moderators.all %}
      <button onclick="location.href='/candidates/mod-add/'" class="btn btn-primary"><i class="icon-user"></i>&nbsp Add Candidate</button>
      <button onclick="location.href='/elections/update/{{candidate.election.constituency.id}}'" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp Edit </button>
    {% endif %}
    </div>
    
    {% for candidate in next_candidates|slice:":1" %}
      <a class="infobox-next-link" href="/candidates/{{ candidate.id}}">Next&nbsp <i class="icon-double-angle-right"></i></a>
    {% endfor %}
    
    {% for candidate in previous_candidates|dictsortreversed:"id"|slice:":1" %}
      <a class="infobox-previous-link" href="/candidates/{{ candidate.id}}"><i class="icon-double-angle-left"></i>&nbsp Previous</a>
    {% endfor %}
    
    <hr style="clear:both; padding:5px 0; margin:5px 0;">
    
    {% if candidate.user.profile_picture %}  
      <div class="infobox-candidate-picture">
        <img src="/static/uploaded_files/{{candidate.user.profile_picture}}" />
      </div>
    {% endif %}
    <div>  
      {% if user.userprofile.id = candidate.user.id %}
        <a href="/candidates/update/{{candidate.id}}"><button class="btn btn-warning infobox-button-right"><span class="glyphicon glyphicon-pencil"></span> Edit Candidate Profile</button></a>
      {% endif %}
    </div>  
    <div class="infobox-name">
      {% if candidate.user.last_name %}
        {{ candidate.user.first_name }} {{ candidate.user.last_name }}
      {% else %}
        {{ candidate.user.user.username }}
      {% endif %}
    </div>
    {% if candidate in candidate.election.moderator_candidate_queue %}
      <button style="background-color:#ffff66; color:#333" class="btn infobox-button-approval-right"><i class="icon-user"></i> Candidate Waiting for Your Approval</button>
        <p style="clear:right; float:right;">
          {% if candidate.user.last_name %}
            {{ candidate.user.first_name }} {{ candidate.user.last_name }}
          {% else %}
            {{ candidate.user.user.username }}
          {% endif %} 
          &nbsp &nbsp <a href="/candidates/mod-approve/{{ candidate.id }}">approve</a>
          &nbsp &nbsp <a href="/candidates/mod-deny/{{ candidate.id }}">deny</a>
        </p>
      {% endif %}
      {% if candidate.user.email %}
        <a style="color:#555;" class="infobox-contact-button-right" href="MAILTO:{{ candidate.user.email }}"><i class="icon-envelope-alt icon-2x"></i></a>
      {% endif %}
      {% if candidate.user.facebook_page %}
        <a target="_blank" style="color:#3B5998;" class="infobox-contact-button-right" href="{{ candidate.user.facebook_page }}"><i class="icon-facebook-sign icon-2x"></i></a>
      {% endif %}
      {% if candidate.user.linkedin_page %}
        <a target="_blank" style="color:#0E76A8;" class="infobox-contact-button-right" href="{{ candidate.user.linkedin_page }}"><i class="icon-linkedin-sign icon-2x"></i></a>
      {% endif %}
      {% if candidate.user.twitter_name %}
        <a target="_blank" style="color:#4099FF;" class="infobox-contact-button-right" href="https://www.twitter.com/{{ candidate.user.twitter_name|slice:"1:" }}"><i class="icon-twitter-sign icon-2x"></i></a>
      {% endif %}
      {% if candidate.user.personal_homepage %}
        <a target="_blank" style="color:#555;" class="infobox-contact-button-right" href="{{ candidate.user.personal_homepage }}"><i class="icon-home icon-2x"></i></a>
      {% endif %}
    <div class="infobox-about">   
      <h3 style="margin:7px 3px 7px 0;">Running for <a style="color:#333" href="/offices/{{ candidate.office.id }}">{{ candidate.office.name }}</a></h3><br />
      {% if candidate.user.major %}
        <h4 style="margin:7px 4px 7px 0;"><strong>Major:</strong></h4><p>{{ candidate.user.major }}</p><br />
      {% endif %}
      {% if candidate.party %}
        <h4 style="margin:7px 6px 7px 0;"><strong>Party:</strong></h4><p>{{ candidate.party }}</p><br />
      {% endif %}
      {% if candidate.user.year_in_school %}
        <h4 style="margin:7px 10px 7px 0;"><strong>Year:</strong></h4><p>{{ candidate.user.year_in_school }}</p><br />
      {% endif %}
      {% if candidate.goals %}
        <hr style="clear:both;padding:0;margin:10px 0;">
        <h4><strong>Goals</strong></h4>
        <div class="infobox-indent">
          <p>{{ candidate.goals|urlize|linebreaksbr }}</p><br />
        </div>
      {% endif %}
      {% if candidate.experience %}
        <hr style="clear:both;padding:0;margin:10px 0;">
        <h4><strong>Experience</strong></h4>
        <div class="infobox-indent">
          <p>{{ candidate.experience|urlize|linebreaksbr }}</p><br />
        </div>
      {% endif %}
      {% if candidate.about %}
        <hr style="clear:both;padding:0;margin:10px 0;">
        <h4><strong>About Me</strong></h4>
        <div class="infobox-indent">
          <p>{{ candidate.about|urlize|linebreaksbr }}</p><br />
        </div>
      {% endif %}
    <hr style="clear:both;">    
    {% for candidate in next_candidates|slice:":1" %}
      <a class="infobox-next-link" href="/candidates/{{ candidate.id}}">Next&nbsp <i class="icon-double-angle-right"></i></a>
    {% endfor %}
    
    {% for candidate in previous_candidates|dictsortreversed:"id"|slice:":1" %}
      <a class="infobox-previous-link" href="/candidates/{{ candidate.id}}"><i class="icon-double-angle-left"></i>&nbsp Previous</a>
    {% endfor %}

    <br />
    </div>
  </div>
</div>
<div class="modal fade" id="sharecandidateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Share this Candidate</h3>
      </div>
      <div class="modal-body">
        <strong>Copy the link below to share this candidate page:</strong>
        <br />
        <br />
        <p>www.everyvote.org/candidates/{{candidate.id}}</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
