{% extends "base.html" %}

{% block extrahead %}
{% endblock %}

{% block extrabuttons %}
    {% for moderator in election.moderators.all %}
        {% if user == moderator %}
            <li><a href="{% url 'election_update' pk=object.pk %}" class="btn btn-small btn-primary"><i class=icon-pencil icon-white"></i>Edit Election</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block box1 %}

<p>Are you sure you want to delete "{{ object.title }}"?</p>

<form method="post" action="{% url 'candidate_delete' pk=object.pk %}">
  {% csrf_token %}
  <a href="{% url 'candidate_detail' pk=object.pk %}">Go back</a> 
  <p><input type="submit" value="Confirm deletion" /></p>
</form> 

{% endblock %}

{% block box2 %}
{% endblock %}