{% extends "base.html" %}
{% load comments %}

{% block constituency_selector %}
{% endblock %}


{% block box1 %}
<h1>Candidate Profile</h1>
<h3>{{ candidate.member.first_name }} {{ candidate.member.last_name }}</h3>
{% if candidate.member.profile_picture %}
    <p><img src="/static/assets/{{candidate.member.profile_picture}}" width="200"/></p>
{% endif %}
<p><strong>Election: </strong>{{ candidate.election }}</p>
<p><strong>Office: </strong>{{ candidate.office }}</p>
<p><strong>About me: </strong>{{ candidate.description }}</p>
<p><strong>Candidate ID #: </strong>{{ candidate.id }}</p>
<!--<p><a href="/candidates/edit/{{candidate.id}}">Edit Profile</a></p>-->
<!--<p><a href="/candidates/add_comment/{{candidate.id}}">Add Comment</a></p>-->
{% endblock %}


{% block box2 %}
<div class="comments">
  <h3>Comments</h3>

  <div class="comment_form">
{% if user.is_authenticated %}
  {% get_comment_form for object as form %}
  <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="name" value="{{ user }}" />
    <input type="hidden" name="email" value="{{ user.email|default:'d@ummy.com' }}" />
    <input type="hidden" name="url" value="" />
    <input type="hidden" name="next" 
        value="/candidates/get/{{ candidate.id }}" />
    <input type="submit" value="Add comment" id="id_submit" />
  </form>
{% else %}
  <p>Please <a href="{% url 'login' %}">log in
  </a> to leave a comment.</p>
{% endif %}
  </div>


  {% render_comment_list for candidate %}
</div>
{% endblock %}