{% extends "base.html" %}

{% block title %}EveryVote - Run for Office{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      Run for Office
    </div>
    <hr style="clear:both;">
    <div class="infobox-disclaimer">
      <h3>*Disclaimer*</h3>
      <p>Running for office on EveryVote does not officially register you as a candidate for office. You need to contact the Elections Commissioner of your organization to make sure you are officially registered as a candidate.</p>
      <p>EveryVote is a way to raise awareness for your campaign by connecting you with your constituency (your organization of voters).</p>
      <hr style="clear:both;">
    </div>
    <form method="post" action="">
      {% csrf_token %}
      {% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
        <div class="infobox-selector">
        {% if form.election.errors %}<p class="error">{{ form.election.errors }}</p>{% endif %}
        <p><label for="election"{% if form.election.errors %} class="error"{% endif %}>Election:</label></p>
        <p>{{ form.election }}</p>
      </div>
      <div class="infobox-selector">
        {% if form.office.errors %}<p class="error">{{ form.office.errors }}</p>{% endif %}
          <p><label for="office"{% if form.office.errors %} class="error"{% endif %}>Office:</label></p>
          <p>{{ form.office }}</p>
      </div>
    <div class="infobox-selector">
      {% if form.about.errors %}<p class="error">{{ form.about.errors }}</p>{% endif %}
        <p><label for="about"{% if form.about.errors %} class="error"{% endif %}>About Me:</label></p>
        <p>{{ form.about }}</p>
    </div>
    <br />
    <p><input type="submit" class="btn btn-success" value="Submit">
    </form>
  </div>
</div>
</div>
{% endblock %}
