{% extends "base.html" %}

{% block extrahead %}
{% endblock %}

{% block box1 %}
<div class="well">
  {% if user.userprofile.first_name and user.userprofile.last_name %}
    <h2>{{ user.userprofile.first_name }} {{user.userprofile.last_name }}'s Profile</h2>
  {% else %}
    <h2>{{ user.username }}'s Profile</h2>
  {% endif %}
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Edit">
    </form>
</div>
{% endblock %}

{% block box2 %}
{% endblock %}