{% extends "base.html" %}

{% block title %}{{ object.userprofile.first_name }} {{object.userprofile.last_name }}'s EveryVote Profile{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      {{ object.userprofile.first_name }} {{object.userprofile.last_name }}'s Global Profile
    </div>
    {% if object.username == user.username %}
      <a href="/users/update/{{ user.username }}"><button class="btn btn-warning infobox-button"><span class="glyphicon glyphicon-pencil"></span> Edit User Profile</button></a>
    {% endif %}
    <hr style="clear:both">
    {% if object.userprofile.profile_picture %}
      <div class="infobox-picture">
        <p><img src="/static/uploaded_files/{{object.userprofile.profile_picture}}" /></p>
      </div>
    {% endif %}
    <div class="infobox-about">
      {% if object.userprofile.candidate_set.all %}
        {% for candidate in object.userprofile.candidate_set.all %}
          <p><strong>Running for: </strong><a href="/candidates/{{candidate.id}}">{{ candidate.office.name }} in the {{candidate.election.constituency.parent_constituency.name}} {{ candidate.election.constituency.name }} {{ candidate.election.name }} election</a></p>
        {% endfor %}
      {% else %}
        {% if object.userprofile.first_name and object.userprofile.last_name %}
          <h4>{{ object.userprofile.first_name }} {{ object.userprofile.last_name}} is not currently running for office in an election.</h4>
        {% else %}
          <p>{{ object.username }} is not currently running for office in an election.</p>
        {% endif %}
      {% endif %}  
      <p><strong>First name: </strong>{{ object.userprofile.first_name }}</p>
      <p><strong>Last name: </strong>{{object.userprofile.last_name }}</p>
      <p><strong>Username: </strong>{{ object.username }}</p>
      <hr style="clear:both;">
      {% if object.userprofile.about_me %}
        <p><strong>About me: </strong>{{ object.userprofile.about_me|linebreaks|urlize }}</p>
      {% endif %}
      {% if object.userprofile.email or object.userprofile.twitter_name or object.userprofile.facebook_page or object.userprofile.linkedin_page or object.userprofile.personal_homepage %}
        <p><strong>Contact Info:</strong></p>
      {% endif %}
      {% if object.userprofile.email %}
        <p><strong>Public Email: </strong>{{ object.userprofile.email }}</p>
      {% endif %}
      {% if object.userprofile.twitter_name %}
        <p><a target="_blank" href="https://www.twitter.com/{{ object.userprofile.twitter_name|slice:"1:" }}"><strong>Twitter</a></p>
      {% endif %}
      {% if object.userprofile.facebook_page %}
        <p><a target="_blank" href="{{ object.userprofile.facebook_page }}"><strong>Facebook</strong></a></p>
      {% endif %}
      {% if object.userprofile.linkedin_page %}
        <p><a target="_blank" href="{{ object.userprofile.linkedin_page }}"><strong>Linkedin</strong></a></p>
      {% endif %}
      {% if object.userprofile.personal_homepage %}
        <p><a target="_blank" href="{{ object.userprofile.personal_homepage }}"><strong>Homepage</strong></a></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
