{% extends "base.html" %}

{% block title %}{{ object.userprofile.first_name }} {{object.userprofile.last_name }}'s EveryVote Profile{% endblock %}

{% block extrahead %}
<meta property="og:url" content="http://www.everyvote.org/users/{{ user.username }}" />
<meta property="og:description" content="Learn about and contact your university candidates for free with EveryVote." />
<meta property="og:image" content="http://www.everyvote.org/static/uploaded_files/{{ user.userprofile.profile_picture }}" />
{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      Citizen Profile
    </div>
    {% if object.username == user.username %}
      <a href="/users/update/{{ user.username }}"><button class="btn btn-warning infobox-button-right"><span class="glyphicon glyphicon-pencil"></span> Edit Your Citizen Profile</button></a>
    {% endif %}
    <hr style="clear:both">
    {% if object.userprofile.profile_picture %}
      <div class="infobox-picture">
        <p><img src="/static/uploaded_files/{{object.userprofile.profile_picture}}" /></p>
      </div>
    {% endif %}
    <div class="infobox-name">
      {{ object.userprofile.first_name }} {{ object.userprofile.last_name }}
    </div>
      {% if object.userprofile.email %}
        <p><a style="color:#555;" class="infobox-contact-button-right" href="MAILTO:{{ object.userprofile.email }}"><i class="icon-envelope-alt icon-2x"></i></a>
      {% endif %}
      {% if object.userprofile.facebook_page %}
        <a target="_blank" style="color:#3B5998;" class="infobox-contact-button-right" href="{{ object.userprofile.facebook_page }}"><i class="icon-facebook-sign icon-2x"></i></a>
      {% endif %}
      {% if object.userprofile.linkedin_page %}
        <a target="_blank" style="color:#0E76A8;" class="infobox-contact-button-right" href="{{ object.userprofile.linkedin_page }}"><i class="icon-linkedin-sign icon-2x"></i></a>
      {% endif %}
      {% if object.userprofile.twitter_name %}
        <a target="_blank" style="color:#4099FF;" class="infobox-contact-button-right" href="https://www.twitter.com/{{ object.userprofile.twitter_name|slice:"1:" }}"><i class="icon-twitter-sign icon-2x"></i></a>
      {% endif %}
      {% if object.userprofile.personal_homepage %}
        <a target="_blank" style="color:#555;" class="infobox-contact-button-right" href="{{ object.userprofile.personal_homepage }}"><i class="icon-home icon-2x"></i></a>
      {% endif %}
    <div class="infobox-about">
      <p><strong>Major: </strong>{{ object.userprofile.major }}</p>
      <p><strong>Year: </strong>{{ object.userprofile.year_in_school }}</p>
      {% if object.userprofile.about %}
        <p><strong>About: </strong>{{ object.userprofile.about|linebreaks|urlize }}</p>
      {% endif %}
      {% if object.userprofile.candidate_set.all %}
        <hr style="clear:both;">
        <h3>Candidate Status</h3>
        {% for candidate in object.userprofile.candidate_set.all %}
          <p><strong>Running for: </strong><a href="/candidates/{{candidate.id}}">{{ candidate.office.name }} in the {{candidate.election.constituency.parent_constituency.name}} {{ candidate.election.constituency.name }} {{ candidate.election.name }}</a></p>
        {% endfor %}
      {% endif %}  
    </div>
  </div>
</div>
{% endblock %}
