{% extends "base.html" %}

{% block title %}EveryVote Universities{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      Universities
    </div>
    <hr style="clear:both;">
{% for parent_constituency in parent_constituency_list %}
    <div>
        <h2><a href="/universities/{{ parent_constituency.id }}/">{{ parent_constituency.name }}</a></h2>
        <p>{{ parent_constituency.about|slice:"500" }}</p>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}