{% extends "base.html" %}

{% block title %}{{ parent_constituency.name }} - Elections{% endblock %}

{% block extrahead %}
<meta property="og:url" content="http://www.everyvote.org/universities/{{ parent_constituency.id }}" />
<meta property="og:image" content="http://www.everyvote.org/static/uploaded_files/{{ parent_constituency.profile_picture }}" />
<meta property="og:description" content="Learn about and contact {{ parent_constituency.name }} with EveryVote." />
{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      {{ parent_constituency.name }}
    </div>
    
    <!--infobox buttons-->
    <div class="btn-group infobox-button-right">
      {% if user in parent_constituency.administrators.all %}
        <button href="#shareparent_constituencyModal" data-toggle="modal" class="btn btn-primary"><i class="icon-share"></i>&nbsp Share</button>
        <button onclick="location.href='/organizations/add/'" class="btn btn-primary"><i class="icon-group"></i>&nbsp Add Organization</button>
        <button onclick="location.href='/universities/update/{{ parent_constituency.id }}'" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp Edit </button>
      {% else %}
        <button href="#shareparent_constituencyModal" data-toggle="modal"><button class="btn btn-info"><i class="icon-share"></i>&nbsp Share</button>
      {% endif %}
    </div>
    <!--/infobox buttons-->

    <hr style="clear:both; padding:0; margin:5px 0 15px 0">

    <div class="infobox-selector-yellow">
      <div class="infobox-selector-title">
        <h4>Select your organization:</h4>
      </div>
      <div class="infobox-selector-dropdown">
        <form method="POST">
          <select name="constituency_form" class="form-control" onChange="top.location.href = this.form.constituency_form.options[this.form.constituency_form.selectedIndex].value; return false;">
            <option></option>
            {% for constituency in parent_constituency.constituency_set.all %}
              <option value="/organizations/{{ constituency.id }}">{{ constituency.name }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
      <div class="infobox-selector-helper-text">
        <span class="help-block">Please select an organization to view its available elections.</span>
      </div>
    </div>
    
    {% if parent_constituency.rectangle_profile_picture %}
      <div class="infobox-picture-rectangle">
        <img class="img-responsive" src="/static/uploaded_files/{{ parent_constituency.rectangle_profile_picture }}" />
      </div>
    {% elif parent_constituency.profile_picture %}
      <div class="image-responsive infobox-picture">
        <img src="/static/uploaded_files/{{ parent_constituency.profile_picture }}" />
      </div>
    {% endif %}
    
    <div class="infobox-name">
      {{ parent_constituency.name }}
    </div>
    
    {% if parent_constituency.email %}
      <a style="color:#555;" class="infobox-contact-button-right" href="MAILTO:{{ parent_constituency.email }}"><i class="icon-envelope-alt icon-2x"></i></a>
    {% endif %}
    {% if parent_constituency.facebook_page %}
      <a target="_blank" style="color:#3B5998;" class="infobox-contact-button-right" href="{{ parent_constituency.facebook_page }}"><i class="icon-facebook-sign icon-2x"></i></a>
    {% endif %}
    {% if parent_constituency.linkedin_page %}
      <a target="_blank" style="color:#0E76A8;" class="infobox-contact-button-right" href="{{ parent_constituency.linkedin_page }}"><i class="icon-linkedin-sign icon-2x"></i></a>
    {% endif %}
    {% if parent_constituency.twitter_name %}
      <a target="_blank" style="color:#4099FF;" class="infobox-contact-button-right" href="https://www.twitter.com/{{ parent_constituency.twitter_name|slice:"1:" }}"><i class="icon-twitter-sign icon-2x"></i></a>
    {% endif %}
    {% if parent_constituency.personal_homepage %}
      <a target="_blank" style="color:#555;" class="infobox-contact-button-right" href="{{ parent_constituency.personal_homepage }}"><i class="icon-home icon-2x"></i></a>
    {% endif %}
    
    <div class="infobox-about">
      <h4><strong>About</strong></h4>
      <div class="infobox-indent">
        <p>{{ parent_constituency.about|urlize|linebreaksbr }}</p>
      </div>
    <div class="infobox-about">
      <h4><strong>Administrator(s)</strong></h4><br />
      {% for administrator in parent_constituency.administrators.all %}
        <div class="infobox-indent-sans-serif">
          <p><a href="/users/{{ administrator }}">
            {% if administrator.userprofile.first_name and administrator.userprofile.last_name %}
              {{ administrator.userprofile.first_name }} {{ administrator.userprofile.last_name }}<br />
            {% else %}
              {{ administrator }}<br />
            {% endif %}
          </a></p>
        </div>
      {% endfor %}
    </div>
  </div><!-- .infobox-inside -->
</div><!-- .infobox -->

    <div class="modal fade" id="shareparent_constituencyModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Share this University</h3>
          </div>
          <div class="modal-body">
            <strong>Copy the link below to share this election page:</strong>
            <br />
            <br />
            <p>www.everyvote.org/universities/{{parent_constituency.id}}</p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<br />
{% endblock %}