{% extends "base.html" %}


{% block extrahead %}
{% endblock %}


{% block constituency_selector %}
{% endblock %}


{% block box1 %}
<div>
    <h2>{{user.get_profile}}'s Candidate Profiles</h2>
    <p><img src="/static/assets/{{ user.get_profile.profile_picture }}" width="200" /></p>
    {% for candidate in user.get_profile.candidate_set.all %}
        <h3><strong>Election: </strong><a href="/candidates/get/{{ candidate.id }}">{{ candidate.election }}</h3></a>
        <p><strong>Constituency: </strong>{{ candidate.election.constituency }}</p>
        <p><strong>Voting days: </strong>{{ candidate.election.first_voting_day }} - {{ candidate.election.last_voting_day }}</p>
        <p><strong>Running for: </strong>{{ candidate.office }}</p>
        <p><strong>About me: </strong>{{ candidate.description }}</p>
        <hr>
    {% endfor %}
{% endblock %}


{% block box2 %}
{% endblock %}