{% extends 'base.html' %}

{% block extrahead %}
    <script>
        $(function() {
            $( "#id_birthday" ).datepicker();
        });
    </script>
{% endblock %}


{% block constituency_selector %}
{% endblock %}


{% block box1 %}
<div class="well col-9">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
        <div class="register_div">
            {% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
            <p><label for="username"{% if form.username.errors %} class="error"{% endif %}>Username:</label></p>
            <p>{{ form.username }}</p>
        </div>
        <div class="register_div">
            {% if form.email.errors %}<p class="error">{{ form.email.errors }}</p>{% endif %}
            <p><label for="email"{% if form.email.errors %} class="error"{% endif %}>Email:</label></p>
            <p>{{ form.email }}</p>
        </div>
        <div class="reigster_div">
            {% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
            <p><label for="password"{% if form.password.errors %} class="error"{% endif %}>Password:</label></p>
            <p>{{ form.password }}</p>
        </div>
        <div class="register_div">
            {% if form.password1.errors %}<p class="error">{{ form.password1.errors }}</p>{% endif %}
            <p><label for="password1"{% if form.password1.errors %} class="error"{% endif %}>Verify Password:</label></p>
            <p>{{ form.password1 }}
        </div>
        <div class="register_div">
            {% if form.first_name.errors %}<p class="error">{{ form.first_name.errors }}</p>{% endif %}
            <p><label for="first_name"{% if form.first_name.errors %} class="error"{% endif %}>First name:</label></p>
            {{ form.first_name }}
        </div>
        <div class="register_div">
            {% if form.last_name.errors %}<p class="error">{{ form.last_name.errors }}</p>{% endif %}
            <p><label for="last_name"{% if form.last_name.errors %} class="error"{% endif %}>Last name:</label></p>
            {{ form.last_name }}
        </div>
        <div class="register_div">
            {% if form.birthday.errors %}<p class="error">{{ form.birthday.errors }}</p>{% endif %}
            <p><label for="birthday"{% if form.birthday.errors %} class="error"{% endif %}>Birthday:</label></p>
            {{ form.birthday }}
        </div>
        <div class="register_div">
            {% if form.profile_picture.errors %}<p class="error">{{ form.profile_picture.errors }}</p>{% endif %}
            <p><label for="profile_picture"{% if form.profile_picture.errors %} class="error"{% endif %}>Profile picture:</label></p>
            {{ form.profile_picture }}
        </div>
        <br />
        <p><input type="submit" value="Submit">
    </form>
</div>
{% endblock %}


{% block box2 %}
{% endblock %}