{% extends "base.html" %}

{% block title %}{{ office.constituency }} {{ office.name }} at {{ office.constituency.university }}{% endblock %}

{% block extrahead %}
<meta property="og:url" content="http://www.everyvote.org/offices/{{ office.id }}" />
{% endblock %}


{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      <a href="/universities/{{ office.constituency.parent_constituency.id }}">{{ office.constituency.parent_constituency.name }}</a><br />
    </div>
    {% if user in office.constituency.parent_constituency.administrators.all %}
      <a href="/universities/update/{{office.constituency.parent_constituency.id}}"><button class="btn btn-warning infobox-button-right"><span class="glyphicon glyphicon-pencil"></span> Edit </button></a>
      <a href="/organizations/add/"><button class="btn btn-success infobox-button-right">Add Organization</button></a>
    {% endif %}
    <button class="btn btn-info infobox-button-right" data-toggle="modal" href="#shareofficeModal">Share</button>
    
    <div class="infobox-name">
      <a href="/organizations/{{ office.constituency.id }}">{{ office.constituency.name }}</a><br />
    </div>
    {% if user in office.constituency.moderators.all %}
      <a href="/organizations/update/{{office.constituency.id}}"><button class="btn btn-warning infobox-button-right"><span class="glyphicon glyphicon-pencil"></span> Edit</button></a>
      <a href="/elections/add/"><button class="btn btn-success infobox-button-right">Add Election</button></a>
      <a href="/offices/add/"><button class="btn btn-success infobox-button-right">Add Office</button></a>
    {% endif %}
    <div class="infobox-name">
      {{ office.name }}
    </div>
    {% if user in office.constituency.moderators.all %}
      <a href="/offices/update/{{ office.id }}"><button class="btn btn-warning infobox-button-right"><span class="glyphicon glyphicon-pencil"></span> Edit</button></a>
    {% endif %}    
    
    <hr style="clear:both; padding:5px 0 0 0;">

    {% if office.constituency.profile_picture %}  
      <div class="infobox-picture">
        <img src="/static/uploaded_files/{{office.constituency.profile_picture}}" />
      </div>
    {% endif %}

    <div class="infobox-about">
      <h4>About the {{ office.name }}'s Office</h4>
      {{ office.about|linebreaks|urlize }}
    </div>
    
    <div class="infobox-about">
      <h4>Elections</h4>
        {% for election in office.election_set.all %}
        <a href="/elections/{{ election.id }}">{{ election.name }}</a><br />
        {% endfor %}
    </div>
    
    <div class="infobox-about">
      <h4>Moderator(s)</h4>
      {% for moderator in office.constituency.moderators.all %}
        <a href="/users/{{ moderator }}">
          {% if moderator.userprofile.first_name and moderator.userprofile.last_name %}
            {{ moderator.userprofile.first_name }} {{ moderator.userprofile.last_name }}<br />
          {% else %}
            {{ moderator }}<br />
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="modal fade" id="shareofficeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Share this Office</h3>
      </div>
      <div class="modal-body">
        <strong>Copy the link below to share this office page:</strong>
        <br />
        <br />
        <p>www.everyvote.org/offices/{{office.id}}</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
