{% extends "base.html" %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      <a href="/universities/{{ office.constituency.parent_constituency.id }}">{{ office.constituency.parent_constituency.name }}</a><br />
      <a href="/groups/{{ office.constituency.id }}">{{ office.constituency.name }}</a><br />
      {{ office.name }}
    </div>
    
    <!--infobox buttons-->
    {% if user in office.constituency.parent_constituency.administrators.all %}
      <a href="/universities/update/{{office.constituency.parent_constituency.id}}"><button class="btn btn-warning infobox-university-button"><span class="glyphicon glyphicon-pencil"></span> Edit University</button></a>
    {% endif %}
    <button class="btn btn-info infobox-share-button" data-toggle="modal" href="#shareofficeModal">Share Office</button>
      {% if user in office.constituency.moderators.all %}
        <a href="/groups/update/{{office.constituency.id}}"><button class="btn btn-warning infobox-button"><span class="glyphicon glyphicon-pencil"></span> Edit Group</button></a>
      {% endif %}
    <!--/infobox buttons-->
    
    <hr style="clear:both; padding:5px 0 0 0;">
    
    {% if user in office.constituency.moderators.all %}
      <a href="/groups/update/{{office.constituency.id}}"><button class="btn btn-warning infobox-button"><span class="glyphicon glyphicon-pencil"></span> Edit Group</button></a>
      <a href="/offices/update/{{office.id}}"><button class="btn btn-warning infobox-button"><span class="glyphicon glyphicon-pencil"></span> Edit Office</button></a>
    {% endif %}
    <hr style="clear:both;">
    <div class="infobox-about">
      <p><strong>About {{ office.name }}: </strong>
      <p>{{ office.about|linebreaks|urlize }}</p>
    </div>
  </div>
</div>

<div class="modal fade" id="shareofficeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Share this Office</h3>
      </div>
      <div class="modal-body">
        <strong>Copy the link below to share this office page:</strong>
        <br />
        <br />
        <p>www.everyvote.org/offices/{{office.id}}</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}