{% extends "base.html" %}

{% block title %}{{ office.constituency }} {{ office.name }} at {{ office.constituency.university }}{% endblock %}

{% block extrahead %}
<meta property="og:url" content="http://www.everyvote.org/offices/{{ office.id }}" />
{% endblock %}


{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      <a href="/universities/{{ office.constituency.parent_constituency.id }}">{{ office.constituency.parent_constituency.name }}</a><br />
    </div>
    <div class="btn-group infobox-button-right">
      {% if user in office.constituency.parent_constituency.administrators.all %}
        <button class="btn btn-primary" data-toggle="modal" href="#shareofficeModal"><i class="icon-share"></i>&nbsp Share</button>
        <button onclick="location.href='/organizations/add/'" class="btn btn-primary"><i class="icon-group"></i>&nbsp Add Organization</button>
        <button onclick="location.href='/universities/update/{{ office.constituency.parent_constituency.id }}'" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp Edit </button>
      {% else %}
        <button class="btn btn-info" data-toggle="modal" href="#shareofficeModal"><i class="icon-share"></i>&nbsp Share</button>
      {% endif %}
    </div>
    <div class="infobox-name">
      <a href="/organizations/{{ office.constituency.id }}">{{ office.constituency.name }}</a><br />
    </div>
    <div class="btn-group infobox-button-right">
      {% if user in office.constituency.moderators.all %}        
        <button onclick="location.href='/offices/add/'" class="btn btn-primary"><i class="icon-shield"></i>&nbsp Add Office</button>
        <button onclick="location.href='/elections/add/'" class="btn btn-primary"><i class="icon-list-ul"></i>&nbsp Add Election</button>
        <button onclick="location.href='/organizations/update/{{ office.constituency.id}}'" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp Edit</button>
      {% endif %}
    </div>
    <div class="infobox-name">
      {{ office.name }}
    </div>
    <div class="btn-group infobox-button-right">
      {% if user in office.constituency.moderators.all %}
        <button onclick="location.href='/offices/update/{{ office.id }}'" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp Edit</button></a>
      {% endif %}
    </div>
    
    <hr style="clear:both; padding:5px 0 0 0;">

    {% if office.constituency.rectangle_profile_picture %}  
      <div class="infobox-picture-rectangle">
        <img class="img-responsive" src="/static/uploaded_files/{{office.constituency.rectangle_profile_picture}}" />
      </div>
    {% elif office.constituency.profile_picture %}  
      <div class="infobox-picture">
        <img class="img-responsive" src="/static/uploaded_files/{{office.constituency.profile_picture}}" />
      </div>
    {% endif %}

    <div class="infobox-about">
      <h4>About the {{ office.name }}'s Office</h4>
      {{ office.about|urlize|linebreaksbr }}
    </div>
    
    {% if office.election_set.all %}
    <div class="infobox-about">
      <h4>Elections</h4><br />
        {% for election in office.constituency.election_set.all %}
          <a href="/elections/{{ election.id }}">{{ election.name }}</a><br />
        {% endfor %}
    </div>
    {% endif %}
    <br />
    
    <div class="infobox-about">
      <h4>Moderator(s)</h4><br />
      {% for moderator in office.constituency.moderators.all %}
        <a href="/users/{{ moderator }}">
          {% if moderator.userprofile.first_name and moderator.userprofile.last_name %}
            {{ moderator.userprofile.first_name }} {{ moderator.userprofile.last_name }}<br />
          {% else %}
            {{ moderator }}<br />
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="modal fade" id="shareofficeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Share this Office</h3>
      </div>
      <div class="modal-body">
        <strong>Copy the link below to share this office page:</strong>
        <br />
        <br />
        <p>www.everyvote.org/offices/{{office.id}}</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
