{% extends "base.html" %}

{% block title %}Delete an Organization{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      Delete Organization
    </div>
    <hr style="clear:both;">
    <p>Are you sure you want to delete "{{ object.name }}"?</p>
    <form method="post" action="{% url 'constituency_delete' pk=object.pk %}">
      {% csrf_token %}
      <a class="btn btn-primary" href="{% url 'constituency_detail' pk=object.pk %}">Go back</a>&nbsp &nbsp
      <input type="submit" class="btn btn-danger" value="Confirm deletion" />
    </form> 
  </div>
</div>
{% endblock %}