{% extends "base.html" %}

{% block title %}{{ constituency.name }} Elections{% endblock %}

{% block extrahead %}
<meta property="og:url" content="http://www.everyvote.org/organizations/{{ constituency.id }}" />
<meta property="og:image" content="http://www.everyvote.org/static/uploaded_files/{{ constituency.profile_picture }}" />
<meta property="og:description" content="Learn about and contact {{ constituency.parent_constituency.name }} {{ constituency.name }} with EveryVote." />
{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      <a href="/universities/{{ constituency.parent_constituency.id }}">{{ constituency.parent_constituency.name }}</a><br />
    </div>
    {% if user in constituency.parent_constituency.administrators.all %}
      <a href="/universities/update/{{constituency.parent_constituency.id}}"><button class="btn btn-warning infobox-button-right"><span class="glyphicon glyphicon-pencil"></span>&nbsp Edit </button></a>
      <a href="/organizations/add/"><button class="btn btn-success infobox-button-right"><i class="icon-group"></i>&nbsp Add Organization</button></a>
    {% endif %}
    <button class="btn btn-info infobox-button-right" data-toggle="modal" href="#shareconstituencyModal"><i class="icon-share"></i>&nbsp Share</button>

    <div class="infobox-name">  
      {{ constituency.name }}
    </div>
      {% if user in constituency.moderators.all %}
        <a href="/organizations/update/{{constituency.id}}"><button class="btn btn-warning infobox-button-right"><span class="glyphicon glyphicon-pencil"></span>&nbsp Edit </button></a>
        <a href="/elections/add/"><button class="btn btn-success infobox-button-right"> <i class="icon-list-ul"></i>&nbsp Add Election</button></a>
        <a href="/offices/add/"><button class="btn btn-success infobox-button-right"><i class="icon-shield"></i>&nbsp Add Office</button></a>
      {% endif %}
    
    <hr style="clear:both; padding:5px 0; margin:5px 0;">
    
    <div class="well infobox-selector">
      <p><strong>Select your election:</strong></p>
      <form method="POST">
        <select name="election_form" class="form-control" onChange="top.location.href = this.form.election_form.options[this.form.election_form.selectedIndex].value; return false;">
          <option></option>
          {% for election in constituency.election_set.all %}
            <option value="/elections/{{ election.id }}">{{ election.name }}</option>
          {% endfor %}
        </select>
      </form>
      <span class="help-block">Please select an election to view your candidates.</span>
    </div>
    
    {% if election.constituency.profile_picture %}  
      <div class="infobox-picture">
        <img src="/static/uploaded_files/{{constituency.profile_picture}}" />
      </div>
    {% endif %}
    
    <div class="infobox-name">
      {{ constituency.name }}
    </div>
    {% if election.constituency.email %}
      <p><a style="color:#555;" class="infobox-contact-button-right" href="MAILTO:{{ constituency.email }}"><i class="icon-envelope-alt icon-2x"></i></a>
    {% endif %}
    {% if election.constituency.facebook_page %}
      <a target="_blank" style="color:#3B5998;" class="infobox-contact-button-right" href="{{ constituency.facebook_page }}"><i class="icon-facebook-sign icon-2x"></i></a>
    {% endif %}
    {% if election.constituency.linkedin_page %}
      <a target="_blank" style="color:#0E76A8;" class="infobox-contact-button-right" href="{{ constituency.linkedin_page }}"><i class="icon-linkedin-sign icon-2x"></i></a>
    {% endif %}
    {% if election.constituency.twitter_name %}
      <a target="_blank" style="color:#4099FF;" class="infobox-contact-button-right" href="https://www.twitter.com/{{ constituency.twitter_name|slice:"1:" }}"><i class="icon-twitter-sign icon-2x"></i></a>
    {% endif %}
    {% if election.constituency.personal_homepage %}
      <a target="_blank" style="color:#555;" class="infobox-contact-button-right" href="{{ constituency.personal_homepage }}"><i class="icon-home icon-2x"></i></a>
    {% endif %}

    <div class="infobox-about">
      <h4>About</h4>
      {{ constituency.about|urlize|linebreaks }}
    </div>
    
    <div class="infobox-about">
      <h4>Offices</h4>
      {% if election.constituency.office_set.all %}
        {% for office in constituency.office_set.all %}
          <p><a href="/offices/{{ office.id }}">{{ office.name }}</a>
            {% if user in constituency.moderators.all %}&nbsp &nbsp &nbsp
            <a href="/offices/update/{{ office.id }}">edit</a>&nbsp &nbsp &nbsp
            <a href="/offices/delete/{{ office.id }}">delete</a>
            {% endif %}
          </p>
        {% endfor %}
      {% else %}
        <p>No offices have been added yet for this organization.</p>
        <p>If you are a moderator for this organization, you can login and use the Add button to <a href="/offices/add/">add an office</a>.</p>
      {% endif %}
    </div>
    <div class="infobox-about">
      <h4>Moderator(s)</h4>
      {% for moderator in constituency.moderators.all %}
        <a href="/users/{{ moderator }}">
          {% if moderator.userprofile.first_name and moderator.userprofile.last_name %}
            {{ moderator.userprofile.first_name }} {{ moderator.userprofile.last_name }}<br />
          {% else %}
            {{ moderator }}<br />
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="modal fade" id="shareconstituencyModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Share this Organization</h3>
      </div>
      <div class="modal-body">
        <strong>Copy the link below to share this organization page:</strong>
        <br />
        <br />
        <p>www.everyvote.org/organizations/{{constituency.id}}</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
