{% extends "base.html" %}

{% block title %}{{ constituency.name }} Elections{% endblock %}

{% block box1 %}
<div class="infobox">
  <div class="infobox-inside">
    <div class="infobox-name">
      <a href="/universities/{{ constituency.parent_constituency.id }}">{{ constituency.parent_constituency.name }}</a><br />
      {{ constituency.name }}
    </div>

    <!--infobox buttons-->
    {% if user in constituency.parent_constituency.administrators.all %}
      <a href="/universities/update/{{constituency.parent_constituency.id}}"><button class="btn btn-warning infobox-university-button"><span class="glyphicon glyphicon-pencil"></span> Edit University</button></a>
    {% endif %}
    <button class="btn btn-info infobox-share-button" data-toggle="modal" href="#shareelectionModal">Share Organization</button>
      {% if user in constituency.moderators.all %}
        <a href="/organizations/update/{{constituency.id}}"><button class="btn btn-warning infobox-button"><span class="glyphicon glyphicon-pencil"></span> Edit Organization</button></a>
      {% endif %}
    <!--/infobox buttons-->
    
    <hr style="clear:both; padding:5px 0 0 0;">
    
    <div class="well infobox-selector">
      <p><strong>Select your election:</strong></p>
      <form method="POST">
        <select name="election_form" class="form-control" onChange="top.location.href = this.form.election_form.options[this.form.election_form.selectedIndex].value; return false;">
                <option></option>
            {% for election in constituency.election_set.all %}
                <option value="/elections/{{ election.id }}">{{ election.name }}</option>
            {% endfor %}
        </select>
      </form>
      <span class="help-block">Please select an election to view your candidates.</span>
    </div>
    
    {% if constituency.profile_picture %}  
      <div class="infobox-picture">
        <p><img src="/static/uploaded_files/{{constituency.profile_picture}}" /></p>
      </div>
    {% endif %}
    <div class="infobox-about">
      <p><strong>About {{ constituency.name }}: </strong>
      <p>{{ constituency.about|linebreaks|urlize }}</p>
    </div>
  </div>
</div>

<div class="modal fade" id="shareconstituencyModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Share this Organization</h3>
      </div>
      <div class="modal-body">
        <strong>Copy the link below to share this organization page:</strong>
        <br />
        <br />
        <p>www.everyvote.org/organizations/{{constituency.id}}</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}